/* Importing from Google fonts */

@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Reuse styles */

:root {
  /* Colors */
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  /* Font sizes */
  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  /* Font Weight */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Border Radius */
  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  /* Site max width */
  --site-max-width: 1300px;
}

/* Header section styles Start */
header {
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  z-index: 5;
}
.section-content {
  max-width: var(--site-max-width);
  margin: 0 auto;
  padding: 0 20px;
}
header .navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}
.navbar .nav-menu {
  display: flex;
  gap: 10px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
img {
  width: 100%;
}

.section-title {
  font-size: var(--font-size-xl);
  color: var(--dark-color);
  text-align: center;
  padding: 60px 0 100px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background-color: var(--secondary-color);
  margin: 10px auto 0;
  border-radius: var(--border-radius-s);
}

.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
}
.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  border-radius: var(--border-radius-m);
  font-size: var(--font-size-m);
  color: var(--white-color);
  transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.navbar :where(#menu-close-button, #menu-open-button) {
  display: none;
}

/* Hero Section */

.hero-section {
  background-color: var(--primary-color);
  min-height: 100vh;
}

.hero-section .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
}

.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Miniver", sans-serif;
}

.hero-section .hero-details .subtitle {
  margin-top: 8px;
  font-size: var(--font-size-xl);
  max-width: 70%;
}

.hero-section .hero-details .description {
  font-size: var(--font-size-m);
  max-width: 70%;
  margin: 24px 0 40px;
}

.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}

.hero-section .hero-details .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--primary-color);
  border-radius: var(--border-radius-m);
  background-color: var(--secondary-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}

.hero-section .hero-details .button:hover,
.hero-section .hero-details .buttons .contact-us {
  color: var(--white-color);
  border-color: var(--white-color);
  background: transparent;
}
.hero-section .hero-details .buttons .contact-us:hover {
  color: var(--primary-color);
  border-radius: var(--border-radius-m);
  background-color: var(--secondary-color);
  border-color: transparent;
}

.hero-section .hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
}

/* About Us Section */

.about-section {
  background-color: var(--light-pink-color);
  padding: 120px 0;
}
.about-section .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.about-section .about-image-wrapper .about-image {
  width: 400px;
  height: 400px;
  border-radius: var(--border-radius-circle);
  object-fit: cover;
}
.about-section .about-details {
  width: 50%;
}
.about-section .about-details .section-title {
  padding: 0;
}
.about-section .about-details .text {
  font-size: var(--font-size-m);
  text-align: center;
  margin: 50px 0 30px;
  line-height: 30px;
}
.about-section .about-details .social-link-list {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.about-section .social-link-list .social-link {
  font-size: var(--font-size-l);
  color: var(--primary-color);
  transition: 0.2s ease;
}

.about-section .social-link-list .social-link:hover {
  color: var(--secondary-color);
}

/* Menu Section Styles */
.menu-section {
  padding: 50px 0 120px;
}
.menu-section,
.menu-section .section-title {
  color: var(--white-color);
  background-color: var(--dark-color);
}
.menu-section .menu-list .name {
  font-size: var(--font-size-l);
  color: var(--white-color);
  font-weight: var(--font-weight-semibold);
  margin: 12px 0;
}
.menu-section .menu-list .text {
  font-size: var(--font-size-m);
}
.menu-section .menu-list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 30px;
  row-gap: 130px;
  justify-content: space-between;
}
.menu-section .menu-list .menu-item {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.menu-section .menu-list .menu-item .menu-image {
  width: 83%;
  border-radius: var(--border-radius-m);
  object-fit: contain;
  aspect-ratio: 1;
  margin-bottom: 15px;
}

/* Testimonials Section Styles */

.testimonials-section {
  background-color: var(--light-pink-color);
  padding: 50px 0 100px;
}
.testimonials-section .slider-wrapper{
  overflow: hidden;
  margin: 0 60px 50px;
}
.testimonials-section .testimonial {
  display: flex;
  padding: 35px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /* max-width: 400px; */
  /* margin: 0 auto; */
}

.testimonials-section .testimonial .user-image {
  width: 170px;
  height: 170px;
  margin-bottom: 40px;
  border-radius: var(--border-radius-circle);
  object-fit: cover;
}
.testimonials-section .testimonial .name {
  font-size: var(--font-size-m);
  margin-bottom: 15px;
}

.testimonials-section .testimonial .feedback {
  line-height: 25px;
}
.testimonials-section .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  opacity: 1;
  background-color: var(--secondary-color);
}
.testimonials-section .swiper-button-color {
  margin-top: -50px;
  color: var(--secondary-color);
  transition: 0.2s ease;
}
.testimonials-section .swiper-button-color:hover {
  color: var(--primary-color);

}


/* Media query for Responsive device  */

@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }

  .show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
  }

  .navbar :where(#menu-close-button, #menu-open-button) {
    font-size: var(--font-size-l);
    display: block;
  }
  .navbar #menu-close-button {
    position: absolute;
    top: 30px;
    right: 30px;
  }
  .navbar #menu-open-button {
    color: var(--white-color);
    /* display: none; */
  }

  .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 300px;
    height: 100%;
    top: 0;
    left: -300px;
    background-color: var(--white-color);
    padding-top: 100px;
    transition: left 0.2s ease;
  }

  .show-mobile-menu .navbar .nav-menu {
    left: 0px;
  }

  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    display: block;
    margin-top: 17px;
    font-size: var(--font-size-l);
  }

  .hero-section .section-content {
    flex-direction: column-reverse;
    gap: 50px;
    text-align: center;
    justify-content: center;
    padding: 30px 20px 20px;
  }
  .hero-section .hero-details :is(.subtitle, .description) {
    max-width: 100%;
  }
  .about-section .about-details {
    width: 100%;
  }
  .hero-section .hero-details .buttons {
    justify-content: center;
  }
  .hero-section .hero-image-wrapper {
    max-width: 270px;
    margin-right: 0;
  }

  /* About Section */
  .about-section .section-content {
    flex-direction: column-reverse;
    gap: 70px;
  }
  .about-section .about-image-wrapper .about-image {
    width: 100%;
    height: 100%;
    max-width: 250px;
    aspect-ratio: 1;
  }

  /* Menu Section */

  .menu-section .menu-list {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(1, 320px);
    gap: 90px;
    align-items: center;
    justify-content: center;
  }
  .menu-section .menu-list .menu-item .menu-image {
    width: 75%;
    border-radius: var(--border-radius-m);
    object-fit: contain;
    aspect-ratio: 1;
    margin-bottom: 10px;
  }
  .testimonials-section .slider-wrapper{
    overflow: hidden;
    margin: 0 0 40px;
  }
  .testimonials-section .swiper-button-color {
    display: none;;
  }
}
